snippet `js "javascript code block"
\`\`\`js
${VISUAL}$0
\`\`\`
endsnippet

snippet ` "code block"
\`\`\`${1:js}
${VISUAL}$0
\`\`\`
endsnippet

snippet link "make link"
[${VISUAL}](${1:link})$0
endsnippet

snippet req "change import to require"
`!p
if snip.v and snip.v.text:
	replaced = snip.v.text.replace("import", "const").replace("from ", "= require(")
	snip.rv = re.sub(r"(\"|');*$", r"\1);", replaced, flags=re.MULTILINE).rstrip()`
endsnippet
